html {
	font-size: 62.5%;
}
body {
	background-color: #191919;
	color: #ececec;
	font-family: Century Gothic, helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: 1.5em 0 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: normal;
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	background: #000;
	color:#fff;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}

/*---------------------------|GeneralCSS|---------------------------*/

p {
	font-size: 1.2em;
	font-family: Pixel, MoskBlack, sans-serif;
}
li {
	font-family: Pixel, MoskBlack, sans-serif;
}
h2 {
	color: #da4343;
	font-size: 2em;
	font-family: Pixel, MoskBlack, sans-serif;
	border-left: 1px solid;
	padding-left: 15px;
}
h3 {
	font-size: 1.5em;
	font-family: Pixel, MoskBlack, sans-serif;
}
.noHover{
    pointer-events: none;
}

/*---------------------------|Fonts|---------------------------*/

@font-face {
	font-family: PRIMETIME;
	src: url("../fonts/PRIMETIME.ttf");
}

@font-face {
	font-family: MoskBlack;
	src: url("../fonts/MoskBlack.ttf");
}
@font-face {
	font-family: MoskNormal;
	src: url("../fonts/MoskNormal.ttf");
}
@font-face {
	font-family: MoskThin;
	src: url("../fonts/MoskThin.ttf");
}

@font-face {
	font-family: Pixel;
	src: url("../fonts/Pixel.ttf");
}

/*---------------------------|Header|---------------------------*/
.header-menu {
	position: fixed;
	top: 0;
	width: 100%;
}
	.menu-global {
	}
		.menu-global-inner {
			display: flex;
		}
			.logo-main {
				position: relative;
				display: flex;
				width: 12em;
				height: 12em;
				z-index: 99;
				background-image: url(../images/cadre-rond.png);
				background-repeat: no-repeat;
				background-size: contain;
				image-rendering: pixelated;
				/*box-shadow: 
					0px 20px 0px 0px #202122,
					20px 0px 0px 0px #202122,
					10px 15px 0px 0px #202122,
					15px 10px 0px 0px #202122,
					0px 25px 0px 0px white,
					25px 0px 0px 0px white,
					10px 20px 0px 0px white,
					20px 10px 0px 0px white,
					15px 15px 0px 0px white*/
			}
				.logo-main a {
					margin: auto;
					color: white;
					text-decoration: none;
				}
					#global-logo-title {
						font-size: 2em;
						font-family: Pixel, MoskBlack, sans-serif;
						text-shadow: 0 5px black;
					}
			.menu-main {
				height: 12em;
				/*box-shadow: 
					0px 20px 0px 0px #202122,
					20px 0px 0px 0px #202122,
					10px 15px 0px 0px #202122,
					15px 10px 0px 0px #202122,
					0px 25px 0px 0px white,
					25px 0px 0px 0px white,
					10px 20px 0px 0px white,
					20px 10px 0px 0px white,
					15px 15px 0px 0px white*/
			}
				.mid-menu {
					display: flex;
					margin: auto;
					height: 100%;
					padding: 0;
					font-size: 1.7em;
					font-family: Pixel, MoskBlack, sans-serif;
				}
					.mid-menu li {
						position: relative;
						display: flex;
						list-style: none;
					}
						.mid-menu img {
							position: absolute;
							margin-left: auto;
							margin-right: auto;
							left: 0;
							right: 0;
							object-fit: contain;
							height: 100%;
							image-rendering: pixelated;
						}
						.mid-menu a {
							z-index: 999;
							display: flex;
							height: 100%;
							width: 9em;
							color: white;
							text-decoration: none;
						}
							.mid-menu span {
								text-align: center;
								margin: auto;
								width: 6em;
								text-shadow: 0 5px black;
								background-color: #151515;
								box-shadow: 
									16px 0 #151515,
									-16px 0 #151515,
									0 -16px #151515,
									0 16px #151515,
									8px 0 0 8px #151515,
									-8px 0 0 8px #151515,
									0 -8px 0 8px #151515,
									0 8px 0 8px #151515,
									20px 0 white, /*Droite*/
									-20px 0 white, /*Gauche*/
									0 -20px white, /*Haut*/
									0 20px white, /*Bas*/
									0 0 0 12px white, /*Coins*/
									0 8px 0 8px white, /*Coins Droite*/
									0 -8px 0 8px white,
									8px 0 0 8px white, /*Coins Gauche*/
									-8px 0 0 8px white
							}
.image-header {
	background-color: #151515;
	text-align: center;
}
	.image-header-main {
		display: flex;
		flex-direction: column;
	}
		#box-header-title {
			margin: 1.5em 0 2.5em;
		}
			#image-header-title {				
				position: relative;
				width: 55em;
				animation: bounce 2s infinite;
				image-rendering: pixelated;
				z-index: 1;
			}
			@keyframes bounce{
				from {top: 20px;}
				50%  {top: 10px;}
				to   {top: 20px;}
			}

		.home-header {
			display: flex;
			flex-direction: column;
			margin: auto;
			width: 100%;
			max-width: 90em;
			margin-bottom: 10em;
		}
			.home-header-elem {
				position: relative;
				margin: 3em 2em;
			}
				.arrow-left {
					top: 0;
					left: 6em;
				}
				.arrow-right {
					top: 0;
					right: 6em;
					-webkit-transform: scaleX(-1);
					transform: scaleX(-1);
				}
				.arrow-button {
					display: none;
					position: absolute;
					height: 100%;
					width: 12em;
				}
					.arrow-button div {
						position: relative;
						height: 100%;
						width: 100%;
					}
						.arrow-button img {
							position: absolute; /*Ajuste au centre*/
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%); /*Fin centrage*/
							height: 20em;
							margin: auto;
							image-rendering: pixelated;
						}
				.home-header-elem-inner {
					display: flex;
					height: 1.5em;
					margin: 1.5em 1em;
					text-decoration: none;
					transition: .25s;
				}
					.home-header-elem-inner:hover + .arrow-button, .home-header-elem-inner:hover ~ .arrow-button {
						display: flex;
						transition: .25s;
					}
					.home-header-elem-inner:hover + .arrow-left {
						animation: bounceLeft 1.5s infinite;
					}
					.home-header-elem-inner:hover ~ .arrow-right {
						animation: bounceRight 1.5s infinite;
					}
					@keyframes bounceLeft {
						from {left: 10em;}
						50%  {left: 8em;}
						to   {left: 10em;}
					}
					@keyframes bounceRight {
						from {right: 10em;}
						50%  {right: 8em;}
						to   {right: 10em;}
					}
					.pixel-contain {
						position: relative;
						width: 100%;
						background-color: #151515;
						box-shadow: 
							32px 0 #151515,
							-32px 0 #151515,
							0 -32px #151515,
							0 32px #151515,
							8px 0 0 16px #151515,
							-8px 0 0 16px #151515,
							0 -8px 0 16px #151515,
							0 8px 0 16px #151515,
							40px 0 white, /*Droite*/
							-40px 0 white, /*Gauche*/
							0 -40px white, /*Haut*/
							0 40px white, /*Bas*/
							0 0 0 24px white, /*Coins*/
							0 16px 0 16px white, /*Coins Droite*/
							0 -16px 0 16px white,
							16px 0 0 16px white, /*Coins Gauche*/
							-16px 0 0 16px white
					}
						.pixel-contain span {
							display: block;
							margin: auto;
							width: 100%;
							font-size: 3em;
							font-family: Pixel, MoskBlack, sans-serif;
							color: #ececec;
							position: absolute; /*Ajuste au centre*/
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%); /*Fin centrage*/
						}

/*---------------------------|Content|---------------------------*/
.content {
	margin: 2em;
}

/*---Page-Content---*/
.second-title {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 25em;
	margin-top: 7em;
	background-color: #101010;
	border: 1px solid #bb0042;
	border-width: 1px 0;
}
	.second-title-inner {
		display: flex;
		margin: auto;
		width: 100%;
	}
		.second-title-inner img {
			margin: auto;
			height: 20em;
			image-rendering: pixelated;
		}

.main-content {
	margin: 0 10em;
}
	.second-content {
		padding: 3em 0;
	}
		.content-part {
		}
			.content-part table {
				width: 100%;
			}
			.content-part table, .content-part td, .content-part th {
				border: 1px solid white;
				border-collapse: collapse;
			}

.citation-main {
	margin: 1.5em;
}
	.citation-inner {
		border: 1px solid #da4343;
		padding: 2em;
	}
	.citation-author {
		display: flex;
		flex-direction: column;
		float: right;
	}
		.citation-svg {
			fill: none;
			stroke: #da4343;
			stroke-width: 1px;
			float: right;
		}
		.citation-name {
			font-size: 1.1em;
			float: right;
			margin-left: 2em;
		}

/*---------------------------|Footer|---------------------------*/