html {
	font-size: 62.5%;
}
body {
	background-color: #1f1f1f;
	color: #ececec;
	font-family: Century Gothic, helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: 1.5em 0 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: normal;
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	background: #000;
	color:#fff;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}

/*---------------------------|Fonts|---------------------------*/

@font-face {
	font-family: PRIMETIME;
	src: url("../fonts/PRIMETIME.ttf");
}

@font-face {
	font-family: MoskBlack;
	src: url("../fonts/MoskBlack.ttf");
}
@font-face {
	font-family: MoskNormal;
	src: url("../fonts/MoskNormal.ttf");
}
@font-face {
	font-family: MoskThin;
	src: url("../fonts/MoskThin.ttf");
}

/*---------------------------|Header|---------------------------*/
.header-menu {
	width: 100%;
	border-bottom: 1px solid black;
	background-color: #303133;
}
	.menu-global {
		padding: 0 5em;
	}
		.menu-global-inner {
			display: flex;
			height: 7em;
		}
			.logo-main {
				position: relative;
				cursor: pointer;
				display: flex;
				width: 200px;
			}
			.logo-main:after {
				content: '';
				width: 1px;
				height: 3em;
				background: #b5b5b5;
				margin-top: auto;
				margin-bottom: auto;
			}
				.logo-inner {
					margin: auto;
				}
					#global-logo-title {
						font-size: 2em;
						font-family: MoskBlack, Arial Black, sans-serif;
					}
						#global-logo-title span {
							color: #da4343;
						}
			.menu-main {
				margin: auto;
			}
				.mid-menu {
					display: flex;
					margin: auto;
					height: 100%;
					padding: 0;
					font-size: 1.7em;
					font-family: MoskBlack, Arial Black, sans-serif;
				}
					.mid-menu li {
						display: flex;
						margin: 0 20px;
						width: 7em;
						height: 100%;
						list-style: none;
					}
						.mid-menu a {
							display: flex;
							height: 100%;
							width: 100%;
							color: white;
							text-decoration: none;
						}
							.mid-menu span {
								margin: auto;
							}
.image-header {
	background-color: #303133;
	text-align: center;
}
	.image-header-main {
		display: flex;
		flex-direction: column;
	}
			#image-header-title {
				position: relative;
				font-family: MoskBlack, Arial Black, sans-serif;
				font-size: 12em;
				margin: 0 0 0.5em;
				background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#b40404));
				-webkit-background-clip: text;
			}
			.home-header {
				display: flex;
				flex-direction: column;
				margin: auto;
				width: 100%;
				max-width: 100em;
				margin-bottom: 10em;
			}
				.home-header-elem {
					margin: 0.5em 1em;
					background-color: #2b2c2d;
				}
					.home-header-elem-inner {
						display: flex;
						height: 10em;
						text-decoration: none;
						transition: .25s;
					}
					.home-header-elem-inner:hover {
						height: 22em;
						transition: .25s;
					}
						.home-header-elem-inner span {
							display: block;
							margin: auto;
							width: 100%;
							font-size: 3em;
							font-family: MoskBlack, Arial Black, sans-serif;
							color: #ececec;
						}

/*---------------------------|Content|---------------------------*/
.content {
	margin: 2em;
}

/*---Page-Content---*/
.second-title {
	display: flex;
	width: 100%;
	height: 20em;
	background-color: #303133;
}
	.second-title-inner {
		margin: auto;
	}
		.second-title-inner h2 {
			font-size: 4em;
			font-family: MoskBlack, Arial Black, sans-serif;
		}

/*---------------------------|Footer|---------------------------*/